*.iml
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
*.hprof
*.jks
*.keystore
*.pid
*.o
*.a
*.so.debug
*.so.tmp
*.exe
*.dll
*.dylib
*.test
*.out
*.rlib
*.kotlin_module
*.ninja
*.lnk
*~
.gradle/
.kotlin/
.idea/
.cxx/
.externalNativeBuild/
.navigation/
.attic/
build/
captures/
dist/
out/
release/
vendor/
obj/
libs/
local.properties
keystore.properties
signing.properties
gradle-app.setting
.gradletasknamecache
go.work
go.work.sum
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build.ninja
hs_err_pid*
replay_pid*
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
